<div class="container">
  <div class="container">
    <p>First Name: <%= @user.first_name %></p><br />
    <p>Last Name: <%= @user.last_name %></p><br />
    <p>Contact Details: <%= @user.email %></p><br />
    <p> Some info about this person: <%= @user.description %></p><br />
  </div>
</div>