<div class="container" style="height:10vh"></div>

<form class="container" style="width:80vw">
    <div class="field">
    <label class="label">Adresse Email</label>
    <div class="control has-icons-left has-icons-right">
      <input class="input" type="email" placeholder="Adresse Email">
      <%# <%= f.email_field :email, class:"input", placeholder:"Email"%>
      <span class="icon is-small is-left">
        <i class="fas fa-envelope"></i>
      </span>
    </div>
  </div>

  <div class="container" style="height:5vh"></div>

  <div class="field">
    <label class="label">Mot de passe</label>
    <div class="control has-icons-left has-icons-right">
      <input class="input" type="text" placeholder="Mot de passe">
    </div>
  </div>

  <div class="container" style="height:5vh"></div>

  <div class="field is-grouped">
    <div class="control">
      <button class="button is-danger is-rounded" type="submit" href="<%= root_path %>">Publier</button>
    </div>
    <div class="control">
      <button class="button is-danger is-outlined is-rounded" href="<%= root_path %>">Annuler</button>
    </div>
  </div>
</form>